* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #1d1d1d;
  --main-text-color: #fff3f3;
  --accent-color: #5cadff;
}

@font-face {
  font-family: 'karla';
  src: url('/../fonts/karla/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background-color);
  color: var(--main-text-color);
  font-family: karla, Verdana, Geneva, Tahoma, sans-serif;
  /* screens smaller than this are not supported, sorry! */
  min-width: 450px;

  /* keep all big divs centered on the page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  text-align: center;
  margin-top: 1rem;
}

h4 {
  margin-bottom: 0.5rem;
}

/* Page should not take up all of the screen for big screens */
.container {
  max-width: 900px;
}

/* give each "section" (about, experience, etc) some margin */
.section {
  margin: 2rem 2rem 2rem 2rem;
}

/* Title section */

header {
  display: flex;
  margin: 2.5rem 2.5rem 2.5rem 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* End title section */

/* (Navigation) links */

nav {
  display: flex;
  justify-content: space-evenly;
}

a {
  outline-color: transparent;
  text-decoration: none;

  display: inline-block;
  position: relative;
}

a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

a:visited {
  color: var(--accent-color);
}

a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* End navigation links */

/* About me */

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about .about-col-1 {
  display: flex;
  justify-content: center;
}

#about .about-col-1 img {
  width: auto;
  max-height: 450px;
  border-radius: 8px;
}

#about .about-col-2 {
  text-align: left;
  flex-basis: 55%;
  margin-top: 1rem;
}

#about .about-buttons {
  display: flex;
  justify-content: space-evenly;
}

button {
  margin: 1rem 0 1rem 0;
  background: var(--background-color);
  border: none;
  color: var(--accent-color);
  font-family: karla;
  font-size: 1rem;

  display: inline-block;
  position: relative;
}

button::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

button:hover {
  cursor: pointer;
}

button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button.clicked::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2px;
  bottom: -1px;
  left: 0;
}

#about ul {
  list-style-position: inside;
}

#about li~li {
  margin-top: 0.3rem;
}


@media screen and (min-width: 640px) {
  h1 {
    font-size: 6rem;
  }

  #about {
    flex-direction: row;
  }

  .about-col-2 {
    margin: 0 1rem 2rem 1rem;
  }

  #about h2 {
    text-align: center;
  }
}
