* {
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #1d1d1d;
  --main-text-color: #fff3f3;
  --accent-color: #5cadff;
}

@font-face {
  font-family: 'karla';
  src: url('/../fonts/karla/Karla-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background-color);
  color: var(--main-text-color);
  font-family: karla, Verdana, Geneva, Tahoma, sans-serif;
  /* screens smaller than this are not supported, sorry! */
  min-width: 450px;

  /* keep all big divs centered on the page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
  margin-top: 1rem;
}

/* Page should not take up all of the screen for big screens */
.container {
  max-width: 900px;
}

/* give each "section" (about, experience, etc) some margin */
.section {
  margin: 2rem 2rem 2rem 2rem;
}

/* Title section */

header {
  display: flex;
  margin: 2.5rem 2.5rem 2.5rem 2.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* End title section */

/* (Navigation) links */

nav {
  display: flex;
  justify-content: space-evenly;
}

a {
  outline-color: transparent;
}

a:link {
  color: var(--accent-color);
}

a:visited {
  color: var(--accent-color);
}

a:focus {
  text-decoration: none;
  background: #cdfeaa;
}

a:hover {
  text-decoration: none;
  background: #cdfeaa;
}

a:active {
  background: #6900ff;
  color: #cdfeaa;
}

/* End navigation links */

/* About me */

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about-col-1 {
  display: flex;
  justify-content: center;
}

.about-col-1 img {
  width: auto;
  max-height: 450px;
  border-radius: 8px;
}

.about-col-2 {
  text-align: left;
  flex-basis: 55%;
  margin-top: 1rem;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 6rem;
  }

  #about {
    flex-direction: row;
  }

  .about-col-2 {
    margin: 1rem 1rem 2rem 1rem;
  }

  h2 {
    text-align: center;
  }
}
