* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
}

:root {
  --background-color: #1d1d1d;
  --main-text-color: #fff3f3;
  --accent-color: #5cadff;
}

@font-face {
  font-family: "karla";
  src: url("/../fonts/karla/Karla-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background-color);
  color: var(--main-text-color);
  font-family: karla, Verdana, Geneva, Tahoma, sans-serif;
  /* screens smaller than this are not supported, sorry! */
  min-width: 400px;

  /* keep all big divs centered on the page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

h2 {
  margin-bottom: 2rem;
}

h3 {
  text-align: center;
  font-size: 1.5rem;
}

h4 {
  margin-bottom: 0.5rem;
}

/* Page should not take up all of the screen for big screens */
.container {
  max-width: 70rem;
}

/* give each "section" (about, experience, etc) some margin */
.section {
  margin: 2rem 2rem 2rem 2rem;
}

/* Title section */

header {
  display: flex;
  margin: 2.5rem 1rem 2.5rem 1rem;
  flex-direction: column;
  justify-content: center;
}

header h3 {
  margin-top: 1rem;
}

/* End title section */

/* Contact me section */

#contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}

#contacts a {
  color: var(--main-text-color);
}

/* End contact me section */

/* (Navigation) links */

.blue-link {
  outline-color: transparent;
  color: var(--accent-color);
  text-decoration: none;

  display: inline-block;
  position: relative;
}

.blue-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.blue-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* End navigation links */

/* Pre content/nav section */

#content-container nav {
  display: flex;
  justify-content: space-evenly;
}

/* End pre content/nav section */

/* About me */

#about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#about .about-col-1 {
  display: flex;
  justify-content: center;
}

#about .about-col-1 img {
  border-radius: 8px;
}

#about .about-col-2 {
  text-align: left;
  flex-basis: 55%;
  margin-top: 1rem;
}

#about .about-buttons {
  display: flex;
  justify-content: space-evenly;
}

/* This next section makes buttons behave like .blue-link  */

button {
  margin: 1.5rem 0 1rem 0;
  background: var(--background-color);
  border: none;
  color: var(--accent-color);
  font-family: karla;
  font-size: 1rem;

  display: inline-block;
  position: relative;
}

button::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -1px;
  left: 0;
  background-color: var(--accent-color);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

button.clicked::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

button:hover {
  cursor: pointer;
}

button:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#about ul {
  list-style-position: inside;
}

#about li ~ li {
  margin-top: 0.3rem;
}

/* End about me */

/* Projects */

#projects {
  display: flex;
  flex-direction: column;
  flex-flow: row wrap;
  justify-content: center;
}

#projects a {
  color: var(--main-text-color);
}

.project {
  position: relative;
  margin: 1rem 1rem 1rem 1rem;
  justify-content: center;
}

.project::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: black;
  border-radius: 8px;

  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.project:hover::after {
  visibility: visible;
  opacity: 0.8;
}

.project img {
  object-fit: cover;
  width: 20rem;
  height: 13rem;
  border-radius: 8px;
}

.project .details {
  z-index: 1;
  position: absolute;
  visibility: hidden;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project:hover .details {
  visibility: visible;
}

.details a {
  color: white;
}

.details i {
  margin-top: 1rem;
  font-size: 50px;
}

/* End projects */

/* Technology section */

#tech img {
  margin: 2rem 2rem 2rem 2rem;
}

@keyframes spinning {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

/* End technology section */

@media screen and (min-width: 640px) {
  #projects img {
    width: 30rem;
    height: 18rem;
  }
}

@media screen and (min-width: 940px) {
  h1 {
    font-size: 6rem;
  }

  #about {
    flex-direction: row;
  }

  #about .about-col-2 {
    margin: 0rem 1rem 2rem 1rem;
  }

  #about h2 {
    text-align: center;
  }
}
