<nav>
  <button
    hx-get="/about/"
    hx-target="#content-container"
    hx-trigger="click"
    hx-swap="innerHTML"
    class="blue-link clicked"
  >
    About
  </button>
  <button
    hx-get="/projects/"
    hx-target="#content-container"
    hx-trigger="click"
    hx-swap="innerHTML"
    class="blue-link"
  >
    Projects/Tech
  </button>
</nav>
<div id="about" class="section">
  <div class="about-col-1">
    <img src="images/headshot.jpg" alt="headshot" height="450px" width="auto" />
  </div>
  <div class="about-col-2">
    <h2>About me</h2>
    <p>
      I am a Computer Engineering graduate of UBC with expertise in web
      development.
    </p>
    <br />
    <p>
      I am currently seeking employment! If you know/are someone who needs a
      (very smart and capable) developer, email me!
    </p>
    <br />
    <p>
      In my free time, I also enjoy hiking, reading, gaming, and
      martial-arts-ing.
    </p>

    <div hx-get="/experience/" hx-trigger="load" hx-swap="outerHTML"></div>
  </div>
</div>
