<div id="about-two-columns">
  <div class="about-buttons">
    <button
      hx-get="/experience/"
      hx-target="#about-two-columns"
      hx-trigger="click"
      hx-swap="outerHTML"
      class="blue-link"
    >Experience</button>
    <button
      hx-get="/education/"
      hx-target="#about-two-columns"
      hx-trigger="click"
      hx-swap="outerHTML"
      class="blue-link clicked"
    >Education</button>
  </div>
  <div id="about-qualifications">
    <h4>Computer Engineering @ UBC</h4>
    <p>September 2020 - April 2025</p>
  </div>
</div>
