<div id="about-two-columns">
  <div class="about-buttons">
    <button
      hx-get="/experience/"
      hx-target="#about-two-columns"
      hx-trigger="click"
      hx-swap="outerHTML"
      class="blue-link clicked"
    >
      Experience
    </button>
    <button
      hx-get="/education/"
      hx-target="#about-two-columns"
      hx-trigger="click"
      hx-swap="outerHTML"
      class="blue-link"
    >
      Education
    </button>
  </div>

  <div id="about-qualifications">
    <h4>Cloud Developer @ LifeBooster</h4>
    <ul>
      <li>
        Implemented core functionality of a new web app that manages ergonomic
        assessments at the organizational level.
      </li>
      <li>
        Worked with both the front-end and back-end to deliver full features in
        an agile, fast-paced environment.
      </li>
    </ul>
    <br />
    <h4>Web Developer @ UBC Applied Science Department</h4>
    <ul>
      <li>
        Maintained apsc.ubc.ca and engineering.ubc.ca by addressing website
        performance issues
      </li>
      <li>
        Increased website performance by 15% by improving image loading logic
      </li>
      <li>
        Reduced server storage demands by 17% by optimizing website image
        filetypes
      </li>
    </ul>

    <br />

    <h4>Co-op Web Developer @ UBC IT Web Services</h4>
    <ul>
      <li>
        Maintained ~150 UBC websites, keeping track of dependency and security
        updates
      </li>
      <li>
        Resolved 40 tickets from UBC IT clients, including bug fixes and feature
        requests
      </li>
      <li>
        Migrated dozens of sites to the latest Drupal version as part of an
        organization-wide upgrade project
      </li>
    </ul>
  </div>
</div>
