<nav>
  <button
    hx-get="/about/"
    hx-target="#content-container"
    hx-trigger="click"
    hx-swap="innerHTML"
    class="blue-link"
  >
    About
  </button>
  <button
    hx-get="/projects/"
    hx-target="#content-container"
    hx-trigger="click"
    hx-swap="innerHTML"
    class="blue-link clicked"
  >
    Projects/Tech
  </button>
</nav>
<div class="section">
  <h2>Projects</h2>
  <p>Here are some projects I've previously worked on:</p>
  <br />
  <div id="projects">
    <a class="project" href="https://github.com/vassilyp/GalacticHeist">
      <div class="details">
        <h3>GalacticHeist</h3>
        <i class="fa fa-github"></i>
      </div>
      <img src="images/GalacticHeist-sample.png" alt="Galactic heist" />
    </a>
    <a
      class="project"
      href="https://github.com/vassilyp/vassily-petrousevitch.github.io"
    >
      <div class="details">
        <h3>Personal website (v1)</h3>
        <i class="fa fa-github"></i>
      </div>
      <img src="images/PersonalSite-sample.png" alt="Personal site" />
    </a>
    <a class="project" href="https://github.com/vassilyp/nvim">
      <div class="details">
        <h3>Neovim configuration</h3>
        <i class="fa fa-github"></i>
      </div>
      <img src="images/NeovimConfig-sample.png" alt="Neovim config" />
    </a>
    <a class="project" href="https://github.com/vassilyp/friendGen">
      <div class="details">
        <h3>FriendGen</h3>
        <i class="fa fa-github"></i>
      </div>
      <img src="images/FriendGen-sample.png" alt="Friend generator" />
    </a>
    <a class="project" href="https://github.com/vassilyp/WashroomWayfinder">
      <div class="details">
        <h3>Washroom Wayfinder</h3>
        <i class="fa fa-github"></i>
      </div>
      <img src="images/WashroomWayfinder-sample.png" alt="Washroom wayfinder" />
    </a>
    <a
      class="project"
      href="https://vassilyp.github.io/WhichElevatorIsWorking/"
    >
      <div class="details">
        <h3>Which Elevator Is Working?</h3>
        <i class="fa fa-globe"></i>
      </div>
      <img
        src="images/WhichElevatorIsWorking-sample.png"
        alt="Which elevator is working?"
      />
    </a>
  </div>

  <br />
  <p>
    You can see more on my
    <a class="blue-link" href="https://github.com/vassilyp">GitHub</a>.
  </p>
</div>

<div id="tech" class="section">
  <h2>Tech</h2>
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/python/python-original-wordmark.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-plain.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/go/go-original.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/godot/godot-original.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain-wordmark.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain-wordmark.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original-wordmark.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/php/php-original.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/c/c-original.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/csharp/csharp-original.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/java/java-original-wordmark.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/linux/linux-original.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/drupal/drupal-original-wordmark.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/docker/docker-original.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
  />
  <img
    width="100px"
    height="auto"
    src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/githubactions/githubactions-original.svg"
  />
</div>

<!-- Javascript effects -->
<script src="js/spinny-image-effects.js"></script>
